<section id="service" class = "admin-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel box-v1 panel-primary">
          <div class="panel-heading border-none panel-heading-custom">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
              <h4 class="text-left"><%= t ".menu_courses" %></h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
              <h4>
                <span class="fa-mortar-board fa text-right"></span>
              </h4>
            </div>
          </div>
          <div class="panel-body text-center">
            <h1><%= t ".count_number" %></h1>
            <p><%= link_to t(".go_here"), "#" %></p>
            <hr/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel box-v1 panel-primary">
          <div class="panel-heading border-none panel-heading-custom">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
              <h4 class="text-left"><%= t ".menu_subjects" %></h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
              <h4>
                <span class="fa-book fa text-right"></span>
              </h4>
            </div>
          </div>
          <div class="panel-body text-center">
            <h1><%= t ".count_number" %></h1>
            <p><%= link_to t(".go_here"), "#" %></p>
            <hr/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel box-v1 panel-primary">
          <div class="panel-heading border-none panel-heading-custom">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
              <h4 class="text-left"><%= t ".menu_users" %></h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
              <h4>
                <span class="fa-user fa text-right"></span>
              </h4>
            </div>
          </div>
          <div class="panel-body text-center">
            <h1><%= t ".count_number" %></h1>
            <p><%= link_to t(".go_here"), "#" %></p>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
